<style>
    body{
        flex-direction: column;
    }
</style>
<div class="user-data"></div>
    <%if(typeof username!="undefined"){%>
        <h3><%-username%></h3>
    <%}%>
    <%if(typeof password!="undefined"){%>
        <h3><%-password%></h3>
    <%}%>
</div>